@import 'colors';
@import 'typography';

body {
  background-color: darken(green, 10);
};

p {
  color: black;
  font-weight: 600;
};

#net-cashflow {
  border: 1px solid $pure-black;
  background-color: $pure-white;
}

.content {
  background-color: $gray;
}

.selected {
  background-color: yellow;
}
